page-question {

  .question {
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'Statoil Display Medium', "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
  }

  .nav-icon {
    font-size: 3vw;
  }

  scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-grid {
    padding: 0;
    height: 100%;
  }

  div.environment-label {
    position: absolute;
    top:0;
    left:0;
    color: color($colors, light);
  }
}
