<ion-content padding *ngIf="quizItem">
  <ion-grid>
    <ion-row>
      <ion-col text-center class="question">{{quizItem.question}}</ion-col>
    </ion-row>
    <ion-row style="flex: 1">
      <ion-col col-1><ion-icon class="nav-icon" name="arrow-dropleft-circle" (click)="goToPage(prevQuizItemId)" color="light"
                               *ngIf="(prevQuizItemId !== undefined) && browseMode"></ion-icon></ion-col>
      <ion-col col-10> <div [style.background-image]="quizItem.imageSrc" class="image-view"></div></ion-col>
      <ion-col col-1 text-right><ion-icon class="nav-icon" name="arrow-dropright-circle" (click)="goToPage(nextQuizItemId)" color="light"
                               *ngIf="nextQuizItemId && browseMode"></ion-icon></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4 text-center>
        <voting-button [quizItem]="quizItem" [answerIndex]="0"></voting-button>
      </ion-col>
      <ion-col col-4 text-center>
        <voting-button [quizItem]="quizItem" [answerIndex]="1"></voting-button>
      </ion-col>
      <ion-col col-4 text-center>
        <voting-button [quizItem]="quizItem" [answerIndex]="2"></voting-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<div class="environment-label" *ngIf="mode === 'dev'">{{mode}}</div>
