<!--suppress HtmlUnknownAttribute -->
<ion-content padding *ngIf="quizItem">
    <ion-grid>
        <ion-row>
            <ion-col class="question"><div #question style="display:block">{{quizItem.question}}</div></ion-col>
        </ion-row>
        <ion-row style="flex: 1">
            <ion-col style="padding: 30px">
                <div #imageview [style.background-image]="quizItem.imageUrl" class="image-view"></div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-4 text-center>
                <voting-button [quizItem]="quizItem" [answerIndex]="1"></voting-button>
            </ion-col>
            <ion-col col-4 text-center>
                <voting-button [quizItem]="quizItem" [answerIndex]="2"></voting-button>
            </ion-col>
            <ion-col col-4 text-center>
                <voting-button [quizItem]="quizItem" [answerIndex]="3"></voting-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<div class="environment-label" *ngIf="mode === 'dev'">{{mode}}</div>
<load-error *ngIf="downloadError"></load-error>
<ion-icon class="nav-icon" style="left: 20px" name="arrow-dropleft-circle" (click)="goToPage(prevQuizItemId)"
          color="light" *ngIf="(prevQuizItemId !== undefined) && browseMode"></ion-icon>
<ion-icon class="nav-icon" style="right: 20px" name="arrow-dropright-circle" (click)="goToPage(nextQuizItemId)"
          color="light" *ngIf="nextQuizItemId && browseMode"></ion-icon>
<p *ngIf="quizItem && browseMode" class="time-field">{{quizItem.startTime | date:'mediumDate'}}</p>
