page-question {

  .question {
    font-size: 2.5vw;
    font-weight: bold;
  }

  .nav-icon {
    font-size: 3vw;
  }

  scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-grid {
    padding: 0;
    height: 100%;
  }
}
