page-select-quiz {

    .select-quiz {
        font-family: 'Statoil Display Medium', "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
        background: color($colors, light);
        color: color($colors, dark);
    }
}
