<!--suppress HtmlUnknownTag -->
<ion-content padding class="auth">
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <H1>Please enter CoffeeQuiz Access Token</H1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2>
            </ion-col>
            <ion-col col-8 text-center>
                <ion-item color="light">
                    <ion-label>Access Token</ion-label>
                    <ion-input type="text" [(ngModel)]="token"></ion-input>
                </ion-item>

                <button ion-button (click)="saveToken(token)">Save</button>
            </ion-col>
            <ion-col col-2>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col text-center>
                <p>If you don't have an access token, please contact Øyvind Rønne / oyron@equinor.com</p>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>
<div class="environment-label" *ngIf="mode === 'dev'">{{mode}}</div>
<load-error *ngIf="errorMessage" [errorMessage]="errorMessage"></load-error>
