page-home {
/*  .scroll-content {
    background-color: black;
  }
  .toolbar {
    background-color: black;
  }*/
  .question {
    font-size: large;
    font-weight: bold;
  }

  .alternatives {
    font-size: large;
    font-weight: bold;
  }

}
