<!--suppress HtmlUnknownTarget -->
<ion-content padding>

  <ion-grid>
    <ion-row *ngIf="isCorrect">
      <ion-col col-3></ion-col>
      <ion-col col-6 class="result" text-center><img src="assets/imgs/correct.png"></ion-col>
      <ion-col col-3 style="text-align: end">{{seconds}}</ion-col>
    </ion-row>
    <ion-row *ngIf="!isCorrect">
      <ion-col col-4></ion-col>
      <ion-col col-4 class="result" text-center><img src="assets/imgs/incorrect.png"></ion-col>
      <ion-col col-4 style="text-align: end">{{seconds}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10 class="result" text-center [innerHTML]="messageHtml"></ion-col>
      <ion-col col-1 align-items-end=""></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
