page-answer {
    .result {
        font-size: 3vw;
        font-weight: bold;
        font-family: 'Statoil Display Medium', "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
    }
}
