<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8 class="result" *ngIf="isCorrect" align-items-center><img src="assets/imgs/correct.png"></ion-col>
      <ion-col col-8 class="result" *ngIf="!isCorrect" align-items-center><img src="assets/imgs/incorrect.png"></ion-col>
      <ion-col col-2 style="text-align: end">{{seconds}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8 class="result" *ngIf="isCorrect" align-items-center>{{answer}} is correct!</ion-col>
      <ion-col col-8 class="result" *ngIf="!isCorrect" align-items-center>{{answer}} is not correct.<br>The correct answer is <u>{{truth}}</u></ion-col>
      <ion-col col-2 align-items-end=""></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
